@font-face {
		font-family: 'Airbag';
		src: url('fonts/airbag.woff2') format('woff2'),
		url('fonts/airbag.woff') format('woff');
		font-weight: 400;
   		font-style: normal;
}
@font-face {
	    font-family: 'Montserrat';
	    src: url('fonts/montserrat.woff2') format('woff2'), 
	    url('fonts/montserrat.woff') format('woff');
	    font-weight: 400;
	    font-style: normal;
}
@font-face {
		font-family: 'Opensans-light';
		src: url('fonts/opensans-light.woff2') format('woff2'),
		url('fonts/opensans-light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
}
@font-face {
	    font-family: 'Montserrat';
	    src: url('fonts/montserratbold.woff2') format('woff2'), 
	    url('fonts/montserratbold.woff') format('woff');
	    font-weight: 700;
	    font-style: normal;
}

body, p { 
	box-sizing: border-box;
	position: relative;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}

header {
	background:	#ddd url(img/background.jpg) no-repeat center;
	min-height: 625px;
	max-width: 1600px;
	margin: 0 auto;
}

.overlay {
	position: absolute;
	background-image: linear-gradient(to right, #485563 0%, #29323c 100%);
	opacity: 0.7;
	min-width: 100%;
	min-height: 100%;
	z-index: 1;
}

.container {
	position: absolute;
	top: 32px;
	left: 10%;
	right: 10%;
	margin: 0 auto;
	max-width: 1170px;
	min-width: 400px;
	z-index: 2
}

.logo {
	position: absolute;
	left: 0px;
	font-family: Airbag;
	font-size: 48px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -1.2px;
	text-shadow: 2px 1px 0 rgba(0, 0, 0, 0.5);
	color: #e8e8e8;
}

.menu {
	position: absolute;
	right: 0px;
}

.menu_text {
	vertical-align: 2px;
	display: inline-block;
	color: #e8e8e8;
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: -0.35px;
}

.devicon {
	margin-left: 14px;
}

.hero {
	position: absolute;
	max-width: 625px;
	min-height: 182px;
	top: 200px;
	width: 60%;
	left: 18%;
	text-align: center;

}

.hero_title {
	color: #e8e8e8;
	font-family: Montserrat;
	font-size: 36px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: -1.8px;
}

.hero_body {
	color: #e8e8e8;
	font-family: "Opensans-light";
	font-size: 17px;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: -0.42px;
}

.lets_talk_button {
	width: 126px;
	height: 40px;
	border: 1px solid #f2f2f2;
	border-radius: 25px;
	margin: 33px auto;
	color: #e8e8e8;
	font-family: Montserrat;
	font-size: 13px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.33px;
}

.arrow {
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	border-radius: 25px;
	margin: 144px auto;
	opacity: 0.7;
}
.arrow img {
	vertical-align: middle;
	margin-bottom: -25px;
}
.vertical_line {

	margin: -145px auto;
	width: 1px;
	height: 32px;
	border-left: 0px solid #f2f2f2;
	background-color: #f2f2f2;
	opacity: 0.7;
}